/* Can we please use external style sheets? */

html, body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    animation: color-change 1s infinite;
}

footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 16px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#text {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 2;
}

p {
    font-size: large;
}

img {
    animation: rotation 1s infinite linear;
}

h1 {
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% {
        color: red;
    }

    20% {
        color: orange;
    }

    40% {
        color: yellow;
    }

    60% {
        color: green;
    }

    80% {
        color: blue;
    }

    100% {
        color: purple;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* hippity hoppity your code is my property */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

section {
    position: relative;
}

img {
    position: absolute;
    width: 200px;
    fill: rgb(0, 81, 255);
    z-index: 1;
}

@media only screen and (max-width:600px) {

    body,
    #jay {
        font-size: 1.3em;
    }

    #ronaldmcdonald,
    input,
    footer,
    #copyright {
        font-size: 1.2em;
    }
}